
- @page_title= _ :title
-# @page_id='reports'

%div
 %h3{:align => 'center'}= %w[en ru].map{ |lang| @conf_data['info']['title'][lang] }.join(' | ')
 %h3{:align => 'center'}= _(:title)
 %div{:align => 'center'}
  =@file_class_code
 %table{cellspacing: 2, border: 1, align: 'center'}
  %tr
   %th= _(:paper_cnt)
   %th= _(:paper_files)
  -@report_data.each do |r|
   - if r['files'].select{ |f| f[:class_code]==@file_class_code }.first
    %tr
     %td&= r['_meta']['paper_cnt']
     %td
      - r['files'].select{ |f| f[:class_code]==@file_class_code }.each do |f|
       -#%a{href: '../download/abstract/'+f[:uniquefilename]+'?id='+f[:_meta]['parent']+'&lang='+f[:_meta]['lang']+'&type='+f[:class_code]}= f[:_meta]['lang']
       %a{href: '../download/'+f[:uniquefilename]+'?id='+f[:_meta]['parent']+'&lang='+f[:_meta]['lang']+'&type='+f[:class_code]}= f[:_meta]['lang']


-@_tj_next_template = ''
-#@next_template = '/page/nonexistent'

