
- @page_title= _ :title
-# @page_id='reports'

%div
 -#%h3{:align => 'center'}= _ :title 
 -#%h3{:align => 'center'}= @conf_data['info']['title'][@data_lang_code] + ' / ' + _(:title)
 %h3{:align => 'center'}= @conf_data['info']['title'][@data_lang_code]
 %h3{:align => 'center'}= _(:title)
 %div{:align => 'center'}
 -@report_data.each do |r|
  - if r['files'].select{ |f| f[:_meta]['lang']==@data_lang_code && f[:class_code]=='paper' }.first
   %div{style: 'margin-bottom: 10pt;'}
    %b= _(:paper_cnt)+': '
    %span&= r['_meta']['paper_cnt']
    %br
    %b= _(:paper_owner)+': '
    %span&= r['_meta']['owner'].to_s + ' | ' + %w[fname mname lname].map{ |f| r['owner_info'][f][@data_lang_code] }.join(' ')
    %br
    %b= _(:paper_authors)+': '
    - authors = r['authors'].map{ |a|
    -    %w[fname mname lname].map{ |f|
    -            a[f][@data_lang_code]
    -    }.join(' ') + ' ('+ [ a['affiliation'][@data_lang_code], a['city'][@data_lang_code], (render :partial => '/comp/user/country_name', :locals => {:code => a['country']}) ].join(', ') + ')'
    - }.join('; ')
    %span&= authors
    %br
    %b= _(:paper_title)+': '
    %span&= r['text']['title'][@data_lang_code]
    %br
    -#%b= _(:paper_abstract_file)+': '
    - r['files'].select{ |f| f[:_meta]['lang']==@data_lang_code }.map do |f|
     %b= _('paper_'+f[:class_code]+'_file')+': '
     -#%a{href: '../download/abstract/'+f[:uniquefilename]+'?id='+f[:_meta]['parent']+'&lang='+f[:_meta]['lang']}= _ :paper_abstract_file_download
     %a{href: '../download/'+f[:uniquefilename]+'?id='+f[:_meta]['parent']+'&lang='+f[:_meta]['lang']+'&type='+f[:class_code]+'&type='+f[:class_code]}= _ :paper_abstract_file_download
     = ' (' + f[:length].to_s + ' ' + _(:bytes) + ', ' + f[:_meta]['ctime'].to_s + ')'
     %br


-@_tj_next_template = ''
-#@next_template = '/page/nonexistent'

