
- @page_title= _ :title

%div
 %h2{:align => 'center'}= @conf_data['info']['title'][@data_lang_code]
 %h2{:align => 'center'}= _(:title)
 %table{align: 'center', border: 1}
  -[:timestamp, :papcnt, :countrycnt].each do |s|
   %tr
    %th{align: 'right'}= _ s
    %td= @report_data[s.to_s]
 %br
 %table{align: 'center', border: 1}
  %tr
   %th= _ :country
   %th= _ :cnt
  -#@report_data['clist'].each do |c|
  -@report_data['clist'].map{|c| c[:country_title]=(render :partial => '/comp/user/country_name', :locals => {:code => c['cname'].dup}); c}.sort{|c1, c2| c1[:country_title]<=>c2[:country_title] }.each do |c|
   %tr
    -#%td= (call '/comp/user/country_name', :locals => {:code => c['cname'].dup})
    %td= c[:country_title]
    %td= c['cnt']


