
- @page_title= _ :title

%div
 %h2{:align => 'center'}= @conf_data['info']['title'][@data_lang_code]
 %h2{:align => 'center'}= _(:title)
 -#%div{:aalign => 'center'}
 %table{border: 1, style: "border-collapse: collapse"}
  %tr
   %th{rowspan: 3, valign: 'top', align: 'center'} N
   %th= _ :ptitle
   %th= _ :registrator
  %tr
   %th{colspan: 2}= _ :pauthors
  %tr
   %th{colspan: 2}
    %table{border: 1, width: '100%', style: "border-collapse: collapse"}
     %tr
      %th{rowspan: 4}= _ :reviewer
      %th= _ :score
      %th= _ :decision
     %tr
      %th{colspan: 2, style: "border-bottom: solid 3px black"}= _ :section
     %tr
      %th{colspan: 2, style: "border-bottom: solid 3px black"}= _ :ipccomments
     %tr
      %th{colspan: 2}= _ :authcomments
  -@report_data['papers'].each do |r|
   %tr
    %td{rowspan: 3, valign: 'top', align: 'center'}= r['paper_cnt']
    %td= r['title']
    %td= (r['registrator_data']['user_name'] + ' (' + r['registrator_data']['pin'].to_s  + ')')
   %tr
    %td{colspan: 2}
     - r['authors_data'].each do |a|
      =%w[user_name affiliation city].map{|n| a[n]}.join(', ') +', '+ (render :partial => '/comp/user/country_name', :locals => {:code => a['country'].dup}).strip
      -#=a.inspect
      %br
   %tr
    %td{colspan: 2}
     %table{border: 1, width: '100%', style: "border-collapse: collapse"}
      -r['reviews_data'].each do |r|
       %tr
        %td{rowspan: 4}=r['reviewer']['user_name']
        %td= _ ('score_'+r['data']['score'])
        %td= _ ('decision_'+r['data']['decision'])
       %tr
        %td{colspan: 2, style: "border-bottom: solid 3px black"}
         -#= r['data']['section'] && @conf_sections_map[ r['data']['section'] ] && @conf_sections_map[ r['data']['section'] ]['name'] ? @lang_list.inject([]){ |acc,l| acc << @conf_sections_map[ r['data']['section'] ]['name'][l]; acc }.join(' | ') : _(:uncertain)
         = r['data']['section'] && @conf_sections_map[ r['data']['section'] ] && @conf_sections_map[ r['data']['section'] ]['name'] ? @conf_sections_map[ r['data']['section'] ]['name'][@data_lang_code] : _(:section_uncertain)
       %tr
        %td{colspan: 2, style: "border-bottom: solid 3px black"}
         -@lang_list.select{ |l| r['data']['ipccomments'] && r['data']['ipccomments'][l] && r['data']['ipccomments'][l].length>0 }.each do |l|
          = l+': '
          = r['data']['ipccomments'][l]
          %br
       %tr
        %td{colspan: 2}
         -@lang_list.select{ |l| r['data']['authcomments'] && r['data']['authcomments'][l] && r['data']['authcomments'][l].length>0 }.each do |l|
          = l+': '
          = r['data']['authcomments'][l]
          %br

