
- @page_title= _ :page_title
-# @page_id='reporst'

%div
 -#%h3{:align => 'center'}= _ :page_title
 -#%h3{:align => 'center'}= @conf_data['info']['title'][@data_lang_code] + ' / ' + _(:page_title)
 %h3{:align => 'center'}= @conf_data['info']['title'][@data_lang_code]
 %h3{:align => 'center'}= _(:page_title)
 %div{:align => 'center'}

  %table
   -#%tr
    %td{:align=>'left'}
     %b= _(:context_id)+':'
    %td{:align=>'left'}&= @summary[:context_id]
   %tr
    %td{:align=>'left'}
     %b= _(:report_date_time)+':'
    %td{:align=>'left'}&= DateTime.now.strftime("%F %H:%M %Z")
   %tr
    %td{:align=>'left'}
     %b= _(:context_title)+':'
    %td{:align=>'left'}&= @summary[:context_title]
   %tr
    %td{:align=>'left'}
     %b= _(:context_homepage)+':'
    %td{:align=>'left'}
     %a{:target=>'_blank', :href=> @summary[:context_homepage]}= _(:context_homepage)
   %tr
    %td{:align=>'left'}
     %b= _(:registeredPapers)+':'
     %td{:align=>'left'}&= @summary[:papcnt]
   %tr
    %td{:align=>'left'}
     %b= _(:fromCountries)+':'
     %td{:align=>'left'}&= @summary[:countrycnt]




%div
 %h3{:align => 'center'}= _(:by_country_title)
 %div{:align => 'center'}
  %table
   -@summary[:by_country].map{|gr| {country_code: gr[0], country_title: (render :partial => '/comp/user/country_name', :locals => {:code => gr[0]}), cnt: gr[1]}}.sort{|c1, c2| c1[:country_title]<=>c2[:country_title] }.each do |c|
    %tr
     %td{:align=>'left'}
      %b=c[:country_title]
     %td{:align=>'left'}&= c[:cnt]




-@_tj_next_template = ''
-#@next_template = '/page/nonexistent'
-#@next_template = '/page/autohandler'


