
-#=javascript_include_tag 'comp/conf/participation/form.js'

-# content_for :css do
 - stylesheet_link_tag 'https://raw.github.com/dbushell/Pikaday/master/css/pikaday.css'

%div{name: 'form_on', style: "display: none"}
 %div{name: 'dict', style: "display: none"}
  -#%w[]
 %div{name: 'container'}
  %form.edit#participation_form
   %fieldset
    %legend= _(:person_info)
    %p
     %span.label= _('gender')
     %label
      %input.iinput{type: 'radio', name: 'gender', value: 'M', id: 'form_gender'}
      = _('male')
     %label
      %input.iinput{type: 'radio', name: 'gender', value: 'F', id: 'form_gender'}
      = _('female')
    %p
     %label.label{for: 'person_title'}= _('person_title')
     %select.input{id: 'form_person_title'}
    %p
     %label.label{for: 'form_lname'}= _('lname')
     %input.input{type: 'text', name: 'lname', id: 'form_lname'}
    %p
     %label.label{for: 'form_fname'}= _('fname')
     %input.input{type: 'text', name: 'fname', id: 'form_fname'}
    %p
     %label.label{for: 'form_mname'}= _('mname')
     %input.input{type: 'text', name: 'mname', id: 'form_mname'}
    %p
     %label.label{for: 'form_birthdate'}= _('birthdate')
     %input.input{type: 'text', name: 'birthdate', id: 'form_birthdate', value: '1981-03-14'}
     -#%input.input{type: 'date', name: 'birthdate', id: 'form_birthdate', value: '1981-03-14'}
   %fieldset
    %legend= _(:participation_info)
    %p
     %span.label= _('part_type')
     %label
      %input{type: 'radio', name: 'part_type', value: 'author'}
      = _('part_author')
     %label
      %input{type: 'radio', name: 'part_type', value: 'speaker'}
      = _('part_speaker')
     %label
      %input{type: 'radio', name: 'part_type', value: 'nonauthor'}
      = _('part_nonauthor')
    %p
     %label.label{for: 'form_coauthors'}= _('coauthors')
     %textarea.input{name: 'coauthors', id: 'form_coauthors', rows: 5}
   %fieldset
    %legend= _(:work_info)
    %p
     %span.label= _('occupation')
     %label
      %input{type: 'radio', name: 'occupation', value: 'work'}
      = _('occupation_work')
     %label
      %input{type: 'radio', name: 'occupation', value: 'student'}
      = _('occupation_student')
     %label
      %input{type: 'radio', name: 'occupation', value: 'postgraduate'}
      = _('occupation_postgraduate')
    %p
     %label.label{for: 'form_organization'}= _('organization')
     %textarea.input{name: 'organization', id: 'form_organization', rows: 5}
    %p
     %label.label{for: 'form_position'}= _('position')
     %textarea.input{name: 'position', id: 'form_position', rows: 5}
    %p
     %label.label{for: 'form_rank'}= _('rank')
     %input.input{type: 'text', name: 'rank', id: 'form_rank'}
    %p
     %label.label{for: 'form_degree'}= _('degree')
     %input.input{type: 'text', name: 'degree', id: 'form_degree'}
    %p
     %label.label{for: 'form_responsibilities'}= _('responsibilities')
     %textarea.input{name: 'responsibilities', id: 'form_responsibilities', rows: 5}
   %fieldset
    %legend= _(:organization_info)
    -#%h3= _(:org_address)
    %p
     %label.label{for: 'form_org_country'}= _('org_country')
     %select.input{name: 'org_country', id: 'form_org_country'}
    %p
     %label.label{for: 'form_org_city'}= _('org_city')
     %input.input{type: 'text', name: 'org_city', id: 'form_org_city'}
    %p
     %label.label{for: 'form_org_postcode'}= _('org_postcode')
     %input.input{type: 'text', name: 'org_postcode', id: 'form_org_postcode'}
    %p
     %label.label{for: 'form_org_street'}= _('org_street')
     %input.input{type: 'text', name: 'org_street', id: 'form_org_street'}
    %p
     %label.label{for: 'form_org_house'}= _('org_house')
     %input.input{type: 'text', name: 'org_house', id: 'form_org_house'}
    %p
     %span.label= _('org_foreign')
     %label
      %input.iinput{type: 'checkbox', name: 'org_foreign', id: 'form_org_foreign', value: true}
      = _(:org_is_foreign)
   %fieldset
    %legend= _(:participant_contacts)
    %p
     %label.label{for: 'form_phone'}= _('phone')
     %input.input{type: 'text', name: 'phone', id: 'form_phone'}
    %p
     %label.label{for: 'form_mobile_phone'}= _('mobile_phone')
     %input.input{type: 'text', name: 'mobile_phone', id: 'form_mobile_phone'}
    %p
     %label.label{for: 'form_fax'}= _('fax')
     %input.input{type: 'text', name: 'fax', id: 'form_fax'}
    %p
     %label.label{for: 'form_email'}= _('email')
     %input.input{type: 'text', name: 'email', id: 'form_email'}
   %fieldset
    %legend= _(:participant_security)
    %p= _(:text_foreign_passport)
    %p
     %label.label{for: 'form_nationality'}= _('nationality')
     %select.input{name: 'nationality', id: 'form_nationality'}
    %p
     %label.label{for: 'form_passport'}= _('passport')
     %input.input{type: 'text', name: 'passport', id: 'form_passport'}
   %fieldset
    %legend= _(:accompanying_persons)
    -#%h3= _(:accompanying_persons_title)
    %p ...
   %fieldset
    %legend= _(:hotel_reservation)
    -#%h3= _(:hotel_title)
    %p
     -#%span.label= _('form_gender')
     %label
      %input.iinput{type: 'radio', name: 'hotel', value: 'hotel_via_agent'}
      = _('hotel_via_agent')
    %p
     %label
      %input.iinput{type: 'radio', name: 'hotel', value: 'hotel_myself'}
      = _('hotel_myself')
    %p
     %label.label{for: 'form_hotel_name'}= _('hotel_name')
     %textarea.input{name: 'hotel_name', id: 'form_hotel_name', rows: 5}
    %p
     %label
      %input.iinput{type: 'radio', name: 'hotel', value: 'hotel_no'}
      = _('hotel_no')
   %fieldset
    %legend= _(:publishing_agreement)
    -#%h3= _(:publish_agree_title)
    %p
     %label
      %input{type: 'radio', name: 'publish_agree', value: 'yes'}
      = _('publish_agree_yes')
     %label
      %input{type: 'radio', name: 'publish_agree', value: 'no'}
      = _('publish_agree_no')
     %span.llabel= _('publish_agree_text')
   %p
    %input.save{type: 'button', value: _(:save_btn), name: 'form_save_btn'}

:javascript
  //ParticipationForm();

  //jQuery( "#form_birthdate" ).datepicker({
  //  "dateFormat": 'yy-mm-dd'
  //});
  //jQuery( "#form_date" ).datepicker({
  //  "dateFormat": 'yy-mm-dd'
  //});

  //new DatePicker('#form_date' , {});
  //new Pikaday( {field: $('form_date')} );
  //new DateInput( {field: $('form_date')} );
//  new DateInput( {field: $('form_date'), y1: 1990
//    , y2: 2030
//  } );



