
<div ng-app ng-controller='ItemFormCtrl' ng-init='init()'>
<script src='/assets/comp/lib/admin/items/form.js'></script>

<span ng-init="<%=
	@id ? 'id="'+@id.to_s+'"' :
		params[:parent] ? 'parent="'+params[:parent].to_s+'"' : ""
%>"</span>

<span ng-init="items_path='<%= lib_admin_items_path %>'"></span>
<span ng-init="load()"</span>

<%= form_tag( @id ? lib_admin_item_path(@id) : lib_admin_items_path, method: @id ? :put : :post ) do %>
	<div style='margin: 2em'>
		<%= label_tag(:title) %><br />
		en: <%= text_field_tag('', '', {size: '100', 'ng-model' => 'data.text.title.en'}) %><br />
		ru: <%= text_field_tag('', '', {size: '100', 'ng-model' => 'data.text.title.ru'}) %><br />
	</div>
	<div style='margin: 2em'>
		<%= label_tag(:abstract) %><br />
		en: <%= text_area_tag('', '', {size: '100x6', 'ng-model' => 'data.text.abstract.en'}) %><br />
		ru: <%= text_area_tag('', '', {size: '100x6', 'ng-model' => 'data.text.abstract.ru'}) %><br />
	</div>
	<div style='margin: 2em'>
		<%= label_tag(:authors) %>
			&nbsp;<a href='javascript:void(0)' ng-click="addAuthor(-1)">[+]</a>&nbsp;
		<br />
		<div ng-repeat="author in data.authors" style='margin: 1em'>
			en: First name <%= text_field_tag('', '', {size: '40', 'ng-model' => 'author.fname.en'}) %> Middle name <%= text_field_tag('', '', {size: '40', 'ng-model' => 'author.mname.en'}) %> Last name <%= text_field_tag('', '', {size: '40', 'ng-model' => 'author.lname.en'}) %><br />
			ru: First name <%= text_field_tag('', '', {size: '40', 'ng-model' => 'author.fname.ru'}) %> Middle name <%= text_field_tag('', '', {size: '40', 'ng-model' => 'author.mname.ru'}) %> Last name <%= text_field_tag('', '', {size: '40', 'ng-model' => 'author.lname.ru'}) %><br />
			&nbsp;<a href='javascript:void(0)' ng-click="addAuthor($index)">[+&darr;]</a>&nbsp;
			<span ng-switch on="!$last"><span ng-switch-when='true'>&nbsp;<a href='javascript:void(0)' ng-click="moveAuthor($index, 1)">[&dArr;]</a>&nbsp;</span></span>
			<span ng-switch on="!$first"><span ng-switch-when='true'>&nbsp;<a href='javascript:void(0)' ng-click="moveAuthor($index, -1)">[&uArr;]</a>&nbsp;</span></span>
			&nbsp;<a href='javascript:void(0)' ng-click="removeAuthor($index)">[X]</a>&nbsp;
		</div>
	</div>
	<button type=button ng-click="submit()">Submit</button>
<% end %>

<% if @id %>
	<hr>
	<div ng-app ng-controller='ItemFilesCtrl' ng-init='init()'>
		<span ng-init="id='<%= @id.to_s %>'" ></span>
		<span ng-init="items_path='<%= lib_admin_items_path %>'"></span>
		<h3>Paper files</h3>
		<div ng-repeat="lang in ['en', 'ru']" style='margin: 1em'>
			<!--div ng-switch on="data.files.paper[lang]"-->
			<div ng-switch on="files.paper[lang]">
				<form name='{{lang}}'>
						{{lang}}: 
						<input type=hidden name=lang value='{{lang}}' />
					<span ng-switch-when='true'>
						<input type=hidden name=op value='delete' />
						<button type=button ng-click="submit('paper',lang)">Delete File</button>
					</span>
					<span ng-switch-default>
						<input type=hidden name=op value='upload' />
						<input type=file name=file />
						<button type=button ng-click="submit('paper',lang)">Upload File</button>
					</span>
						<span ng-switch on="uploadInProgress['paper_'+lang]">
							<span ng-switch-when='true'>
								<span>In progress...</span>
							</span>
						</span>
				</form>
			</div>
		</div>
	</div>
<% end %>

</div>

