

<% content_for :page_content do %>
<%= render :partial => 'lib/admin/items/path' %>
<div>
	<%= link_to 'New Item >>', new_lib_admin_item_path(@id ? {parent: @id} : {}) %>
</div>
<br />
<% if @data %>
<div>
	<h2>Item Data</h2>
	<%= @data['text'].to_s %>
</div>
<br />
<div>
	<%= link_to 'Edit', edit_lib_admin_item_path(@id) %>
</div>
<br />
<% end %>
<% if @children.length > 0 %>
<div>
	<h2>Children</h2>
	<table border=1>
		<% @children.each do |c| %>
			<tr>
				<td><%= link_to c['text']['title'].to_s, lib_admin_item_path(c['_id'].to_s) %></td>
				<td><%= link_to 'Edit', edit_lib_admin_item_path(c['_id'].to_s) %></td>
				<td><%= link_to 'Delete', lib_admin_item_path(c['_id'].to_s, @id ? {parent: @id} : {}), method: :delete, data: { confirm: 'Are you sure?' } %></td>
			</tr>
		<% end %>
	</table>
</div>
<% end %>

<% end %>

<% render :file => 'lib/layout' %>

