<!DOCTYPE html>
<html>
<head>
  <title>Prs5</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>

  <!--link rel="stylesheet" href="//code.jquery.com/ui/1.9.1/themes/base/jquery-ui.css" /-->
  <link rel="stylesheet" href="/assets/jquery-ui.css" />

  <!--link href="https://cdn.jsdelivr.net/npm/quasar-framework@0.17.8/dist/umd/quasar.mat.min.css" rel="stylesheet" type="text/css"-->
  <!--link rel="stylesheet" href="https://unpkg.com/buefy/lib/buefy.min.css"-->

  <!-- script src="https://ajax.googleapis.com/ajax/libs/mootools/1.4.5/mootools.js" type="text/javascript"></script -->
  <!-- script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js" type="text/javascript"></script -->

  <!--script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js" type="text/javascript"></script>
  <script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.9.1/jquery-ui.min.js" type="text/javascript"></script-->
  <script src="/assets/jquery.min.js" type="text/javascript"></script>
  <script src="/assets/jquery-ui.min.js" type="text/javascript"></script>

  <script type="text/javascript">
    $.noConflict();
  </script>

  <!--script src="http://ajax.googleapis.com/ajax/libs/mootools/1.2.5/mootools.js" type="text/javascript"></script-->
  <script src="/assets/mootools.js" type="text/javascript"></script>

  <!--script src="//ajax.googleapis.com/ajax/libs/angularjs/1.0.7/angular.min.js"></script-->

  <!--script src="http://code.angularjs.org/1.2.0-rc.2/angular.min.js"></script-->
  <script src="/assets/angular.min.js"></script>

  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <%= content_for?(:css) ? yield(:css) : yield(:qqq) %>

  <!--link rel="stylesheet" href="https://unpkg.com/buefy/lib/buefy.min.css"-->
  <!--link rel="stylesheet" href="https://unpkg.com/buefy@0.7.1/dist/buefy.min.css"-->
	<!--link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.2/css/bulma.min.css"-->

</head>
<body class="<%= 'any'+ (@part_id ? ' '+@part_id.to_s : '') %>">
	<div class=top>
		<!-- div class= title>
			<%= _ :systemnameabbreviation %>
		</div -->
		<div class=nav>
			<div class=left>
			<%= render :partial => "comp/menu/horizontal", :locals => {:current_id => @part_id, :data => [
				[_(:conf), '/conf', 'conf'],
			#	[_(:lib), '/lib', 'lib'],
				[_(:adm), '/adm/', 'adm', :adm]
			]} %>
			</div>
			<div class=right>
				<!-- div class=item -->
				<!-- /div -->
				<!-- div class=item -->
					<%= render :partial => "comp/user/lang-switch" %>
					<%= render :partial => "comp/user/logon-form" %>
					<%#= render :partial => "comp/user/logon-form2" %>
					<%#= render :partial => "comp/user/my-messages" %>
				<!-- /div -->
			</div>
			<div class="clear"></div>
		</div>
	</div>
	<div class=body>
		<!-- %= render "comp/menu/horizontal"% -->
		<%= content_for?(:section_content) ? yield(:section_content) : yield(:qqq) %>
	</div>
	<div class=bottom>
		<!-- %= _ :systemname %> | <a href='/user/tos.html'><%= _ :tos %></a -->
		<%= _ :systemname %> | <a href='/account/tos'><%= _ :tos %></a>
	</div>
</body>
</html>
