<!DOCTYPE html>
<html>
<head>
  <title>Prs5</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <!-- script src="https://ajax.googleapis.com/ajax/libs/mootools/1.4.5/mootools.js" type="text/javascript"></script -->
  <script src="http://ajax.googleapis.com/ajax/libs/mootools/1.2.5/mootools.js" type="text/javascript"></script>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body class="any">
	<div class=top>
		<!-- div class= title>
			<%= _ :systemnameabbreviation %>
		</div -->
		<div class=nav>
			<div class=left>
			<%= render :partial => "comp/menu/horizontal", :locals => {:current_id => @part_id, :data => [
				[_(:conf), '/conf', 'conf'],
				[_(:lib), '/lib', 'lib'],
				[_(:adm), '/adm/', 'adm', :adm]
			]} %>
			</div>
			<div class=right>
				<!-- div class=item -->
					<%= render :partial => "comp/user/logon-form" %>
				<!-- /div -->
				<!-- div class=item -->
					<%= render :partial => "comp/user/my-messages" %>
				<!-- /div -->
			</div>
			<div class="clear"></div>
		</div>
	</div>
	<div class=body>
		<!-- %= render "comp/menu/horizontal"% -->
		<%= content_for?(:section_content) ? yield(:section_content) : yield(:qqq) %>
	</div>
	<div class=bottom>
		<%= _ :systemname %> | <a href='/user/tos.html'><%= _ :tos %></a>
	</div>
</body>
</html>
