<!DOCTYPE html>
<html>
<head>
  <title>Prs5</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body class="any">
	<div class=top>
		<div class=nav>
			<div class=left>
		<%= render :partial => "comp/menu/horizontal", :locals => {:current_id => @page_id, :data => [
			[_(:conf), '/conf', 'conf'],
			[_(:lib), '/lib', 'lib'],
			[_(:adm), '/adm/', 'adm', :adm]
		]} %>
			</div>
			<div class=right>
				<a>qqqqqqqq wwwwwwwwwwwwwwwww</a>
				<div class=block>
				<div class=panel>
					jhli glqwrt  tt ert wert ert er er tertet 
					twe yowty pyiowjhpoyi wjpyowijptyo itjyp oy ty
					t yrty eru yu tyu yu yu ui ri i
					ui uy iyuirtui  eyoeritjhyp ouiyrty eruy yu
					 tyu rtutryu titui yui yuityui ytui 
					 yui tyuiytuity uitytuityui yui yiyui yuyui
				</div>
				</div>
			</div>
		</div>
		<div class="clear"></div>
	</div>
	<div class=body>
		<!-- %= render "comp/menu/horizontal"% -->
		<%= content_for?(:section_content) ? yield(:section_content) : yield(:qqq) %>
	</div>
	<div class=bottom>
		<%= _ :systemname %> | <a href='/user/tos.html'><%= _ :tos %></a>
	</div>
</body>
</html>
